# Ignore Go binaries and build/test outputs
cmd/main
cmd/main.exe
*.exe
*.test
*.out

# eBPF object files
*.o

# eBPF generated headers
vmlinux.h

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE files
.vscode/
.idea/
*~
*.swp

# Logs and backup files
*.log
*.bak
tags

# Vendor directory (if used)
vendor/ 